<tr>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= pageview.geolocation %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= pageview.time %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= pageview.total %></td>
</tr>