<div class="max-w-2xl mx-auto">
  <div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
    </svg>
    <h2 class="mt-2 text-lg font-medium text-gray-900">Report for <%= @pageviews.slug %></h2>
  </div>

  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_minute, description: "Minute Visitors" } %>
  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_hour, description: "Hourly Visitors" } %>
  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_week, description: "Weekly Visitors" } %>
</div>